<div id="advanced-search-permission">

    <div class="main-permission">
        <ul>
            <li>
                <div class="item">
                    <div class="label">
                        Cấp quyền sử dụng tính năng tra cứu quy trình
                    </div>
                    <div class="tool">
                        <input type="checkbox" ng-model="ctrl.rule['Office.AdvancedSearch.Use'].value" brige-func="ctrl.updateRule(params)" brige-value="'Office.AdvancedSearch.Use'"/>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>