<div class="row">
    <div class="col-4 task-part" style="border-radius: 0px;">
        <div class="contact-card aos-init aos-animate" data-aos="fade-up">
            <div class="d-flex">
                <i class="fas fa-phone-alt align-content-center"></i>
                <h5 class="ml-2 mb-0">{{'Phone'|l}}</h5>
            </div>
            <div class="contact-details mt-3">
                <a href="tel:0949688024" class="contact-link">
                    <span>0949 688 024</span>
                    <small class="d-block text-muted">{{'24/7'|l}}</small>
                </a>
            </div>
        </div>
    </div>

    <div class="col-4 task-part" style="border-radius: 0px;">
        <div class="contact-card aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
            <div class="d-flex">
                <i class="fas fa-envelope align-content-center"></i>
                <h5 class="ml-2 mb-0">Email</h5>
            </div>
            <div class="contact-details mt-3">
                <a href="mailto:contact@eranin-tech.com" class="contact-link">
                    <span>contact@eranin-tech.com</span>
                    <small class="d-block text-muted">{{'Response within 24 hours'|l}}</small>
                </a>
            </div>
            <div class="hover-effect"></div>
        </div>
    </div>

    <div class="col-4 task-part" style="border-radius: 0px;">
        <div class="contact-card aos-init aos-animate" data-aos="fade-up" data-aos-delay="200">
            <div class="d-flex">
                <i class="fas fa-map-marker-alt align-content-center"></i>
                <h5 class="ml-2 mb-0">{{'Office'|l}}</h5>
            </div>
            <div class="contact-details mt-3">
                <address class="contact-link">
                    <span>45 đường số 5, KDC Vạn Phúc</span>
                    <small class="d-block text-muted">P. Hiệp Bình Phước, TP. Thủ Đức, TP. HCM</small>
                </address>
            </div>
            <div class="hover-effect"></div>
        </div>
    </div>
</div>