<div class="modal fade" tabindex="-1" role="dialog" id="modal_RoomRegistration_DepartmentApproval">
  <div class="modal-dialog modal-full" role="document">
    <div class="modal-content">
      <modal-header modal-header-title="{{'RoomRegistrationUpdate'|l}}"></modal-header>
      <div class="modal-body">
        <form class="form-horizontal" name="ApproveDepartmentRoomRegistrationForm">

          <div class="col-12">
            <div class="form-group ">
              <div class="input-group-new">
                <div class="input-group-prepend-new">
                  <span class="input-group-text-new">{{'TitleRegistrationRoom'|l}}</span>
                  <span class="require-sympton">*</span>
                </div>
                <input
                  ng-disabled="true"
                  type="text"
                  ng-disabled="$root.statusValue.get(ctrlChild._ctrlName,'MeetingRoom','approve_department','doing')"
                  name="content" ng-model="ctrlChild._assess_registration_value.title" class="form-control"
                  ng-class="{ 'is-invalid': ApproveDepartmentRoomRegistrationForm.content.$invalid }" 
                  required></input>
              </div>
            </div>
          </div>

          <div class="col-12">
            <div class="form-group ">
              <div class="input-group-new">
                <div class="input-group-prepend-new">
                  <span class="input-group-text-new">{{'Type'|l}}</span>
                  <span class="require-sympton">*</span>
                </div>
                <div class="d-flex align-items-center">
                  <label 
                    ng-repeat="type in ctrlChild._roomTypes"
                    class="form-check d-flex align-items-center justify-content-between p-2" 
                    style="color: white;cursor: pointer;"
                    ng-style="{'background-color': (type.val===ctrlChild._assess_registration_value.type)?'rgb(66, 133, 244)':'rgb(146, 159, 186)'}"
                  >
                    <input 
                      ng-disabled="true"
                      style="position: relative;cursor: pointer;" 
                      class="form-check-input m-0 mr-1" 
                      type="radio" 
                      name="exampleRadios" 
                      id="room-type-update-{{type.val}}" 
                      value="{{type.val}}"
                      ng-model="ctrlChild._assess_registration_value.type"
                      ng-change="ctrlChild.onRoomTypeChange_update(ctrlChild._assess_registration_value.type)"
                      >
                    <label
                      class="form-check-label" 
                      for="room-type-update--{{type.val}}" 
                      style="background-color: transparent;font-size: 0.9rem;color: white; font-weight: 400;cursor: pointer;"
                    >
                      {{type.label[ctrlChild.$languageValue.current]}}
                    </label>
                  </label>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="form-group col-md-6">
                <date
                  id-value="ctrlChild._assess_registration_value.date_start"
                  func="ctrlChild.chooseDateStart_room(params)"
                  label="{{'End date'|l}}"
                  disable="true"
                  require="true"
                />
                <span ng-if="ctrlChild._assess_registration_value.date_start > ctrlChild._assess_registration_value.date_end" class="text-danger">{{'End time cannot be less than or equal to start time'|l}}</span>
            </div>
            <div class="form-group col-md-3">
              <div class="input-group-new" style="margin-left: 10px;">

                  <!-- Time Start -->
                  <div class="input-group-prepend-new">
                    <span class="input-group-text-new">{{'TimeStart'|l}}</span>
                    <span class="require-sympton">*</span>
                  </div>
                  <input ng-disabled="true" type="time" ng-model="ctrlChild._assess_registration_value.time_start" ng-change="ctrlChild.updateDateTime_assess('start')" required class="form-control"/>
              
                </div>
            </div>
            <div class="form-group col-md-3">
              <div class="input-group-new" style="margin-left: 10px;">

                <!-- Time End -->
                <div class="input-group-prepend-new">
                  <span class="input-group-text-new">{{'TimeEnd'|l}}</span>
                  <span class="require-sympton">*</span>
                </div>
                <input ng-disabled="true" type="time" ng-model="ctrlChild._assess_registration_value.time_end" ng-change="ctrlChild.updateDateTime_assess('end')" required class="form-control"/>
                
              </div>
            </div>

            <div class="col-12">
              <div class="form-group mb-0">
                <div class="input-group-new">
                  <div class="input-group-prepend-new">
                    <span class="input-group-text-new">{{'ChooseHost'|l}}</span>
                    <span class="require-sympton">*</span>
                  </div>
                  <div class="d-flex align-items-center">
                    <label 
                      ng-repeat="scope in ctrlChild.hostScopes"
                      class="form-check d-flex align-items-center justify-content-between p-2" 
                      style="color: white;cursor: pointer;"
                      ng-style="{'background-color': (scope.val===ctrlChild._assess_registration_value.host_scope)?'rgb(66, 133, 244)':'rgb(146, 159, 186)'}"
                    >
                      <input 
                        ng-disabled="true"
                        style="position: relative; cursor: pointer;" 
                        class="form-check-input m-0 mr-1" 
                        type="radio" 
                        name="hostRadios" 
                        id="room-host-update-{{scope.val}}" 
                        value="{{scope.val}}"
                        ng-model="ctrlChild._assess_registration_value.host_scope"
                        >
                      <label
                        class="form-check-label" 
                        for="room-host-update--{{scope.val}}" 
                        style="background-color: transparent;font-size: 0.9rem;color: white; font-weight: 400;cursor: pointer;"
                      >
                        {{scope.label|l}}
                      </label>
                    </label>
                  </div>
                </div>
              </div>
            </div>

            <!-- Input Text will be shown when 'external' is selected -->
            <div class="col-12" ng-if="ctrlChild._assess_registration_value.host_scope === 'external'">
              <div class="form-group">
                <div class="input-group-new">
                  <input 
                    ng-disabled="true"
                    type="text" 
                    class="form-control" 
                    ng-model="ctrlChild._assess_registration_value.host_external" 
                    placeholder="{{'EnterExternalHost' | l}}"
                    require="true"
                  />
                </div>
              </div>
            </div>

            <div class="col-12 choose-host">
              <div class="form-group ">
                <div class="input-group-new">
                  <pick-user
                    disable="true"
                    pick-func="ctrlChild._choose_host_approve_department_room(params)"
                    id-value="ctrlChild._assess_registration_value.host"
                    label="{{'ChooseHost'|l}}"
                    require="true"
                  ></pick-user>
                </div>
              </div>
            </div>

            <div class="col-md-12">
              <div class="form-group ">
                <div class="input-group-prepend-new">
                  <span class="input-group-text-new">{{'Participant'|l}}</span>
                </div>
                  <div class="form-group">
                      <pick-user-multi 
                          disable="true"
                          label="{{'Participant'|l}}"
                          id-value="ctrlChild._assess_registration_value.participants"
                          pick-func="ctrlChild.pickEmployee_approve_department_room(params)"
                      />
                  </div>
              </div>
            </div>

            <div class="row col-md-12">
              <div class="col-md-12">

                  <div class="form-group">
                    <div class="input-group-prepend-new">
                      <span class="input-group-text-new">{{'ParticipateDepartments'|l}}</span>
                    </div>
                      <organization-multi
                          disable="true"
                          label="{{'Department'|l}}"
                          id-value="ctrlChild._assess_registration_value.to_department"
                          select-func="ctrlChild.chooseDepartment_approve_department_room(params)"
                      />
                  </div>
              </div>
          </div>

            <div class="col-12" >
              <div class="form-group mb-0">
                <div class="input-group-new">
                  <div class="input-group-prepend-new">
                    <span class="input-group-text-new">{{'AddOtherParticipants'|l}}</span>
                  </div>
                  <div class="d-flex">
                    <input ng-disabled="true" ng-model="ctrlChild._assess_registration_value.otherHost" type="text" class="form-control flex-grow-1" placeholder="{{'AddOtherParticipants'|l}}">
                    <button 
                      type="button" 
                      class="btn btn-primary" 
                      ng-click="ctrlChild.add_other_host_approve_department_room()"
                      ng-disabled="!ctrlChild._assess_registration_value.otherHost"
                    >
                      {{'Add'|l}}&nbsp;<i class="fas fa-user-plus"></i>
                    </button> 
                  </div>
                </div>
              </div>
            </div>


            <!-- chưa disable -->
            <div ng-if="ctrlChild._assess_registration_value.otherHosts.length>0" class="col-12 d-flex align-items-center justify-content-start flex-wrap mb-1">
              <div 
                class="py-1 px-2 mr-2 mt-1" 
                style="color: #3e4042;background-color: #dde2e4; border-radius: 5px; text-align: center;"
                ng-repeat="host in ctrlChild._assess_registration_value.otherHosts"
                >
                <span>{{host.name}}</span>
                <button ng-disabled="true"
                  ng-click="ctrlChild.delete_other_host_approve_department_room(host.id)" style="border: none; background-color: transparent;"
                >
                  <i 
                    style="cursor: pointer;" class="fas fa-times hover-close"
                  >
                  </i>
                </button>
              </div>         
            </div>

            <div class="col-12">
              <div class="form-group ">
                <div class="input-group-new">
                  <div class="input-group-prepend-new">
                    <span class="input-group-text-new">{{'Content'|l}}</span>
                    <span class="require-sympton">*</span>
                  </div>
                  <textarea ng-disabled="true"
                    name="content" ng-model="ctrlChild._assess_registration_value.content" class="form-control"
                    ng-class="{ 'is-invalid': ApproveDepartmentRoomRegistrationForm.content.$invalid }" 
                    style="height: 150px;"
                    required></textarea>
                </div>
              </div>
            </div>

            <div class="col-12">
              <div class="form-group ">
                <div class="input-group-new">
                  <div class="input-group-prepend-new">
                    <span class="input-group-text-new">{{'NumberOfParticipants'|l}}</span>
                    <span class="require-sympton">*</span>
                  </div>
                  <input ng-disabled="true"
                    type="number" min="1" ng-model="ctrlChild._assess_registration_value.person" class="form-control"
                    name="person" placeholder="{{'InputSizeOfMeetingRoom'|l}}"
                    ng-class="{ 'is-invalid': ApproveDepartmentRoomRegistrationForm.person.$invalid }" required />
                </div>
              </div>
            </div>   
            
            <div class="col-12">
              <div class="form-group ">
                <div class="input-group-new">
                  <pick-modal-directory-room 
                      extend="ctrlChild.room_list_config " 
                      id-value="ctrlChild._assess_registration_value.room"
                      filter="ctrlChild._assess_registration_value.filter_room"
                      date-start="ctrlChild._assess_registration_value.date_start"
                      date-end="ctrlChild._assess_registration_value.date_end"
                      pick-func="ctrlChild.pick_room_update(params)" 
                      label="{{'Room'|l}}" 
                      require="false"
                      disable="true"
                    />
                </div>
              </div>
            </div>
            
            <div class="col-12">
              <div class="form-group">
                <input-checkbox input-checkbox-label="{{'RecommendedService'|l}}"
                  input-checkbox-model="ctrlChild._assess_registration_value.service_proposal"
                  input-checkbox-disabled="true">
                </input-checkbox>
                <textarea 
                  ng-disabled="!ctrlChild._assess_registration_value.service_proposal || $root.statusValue.get(ctrlChild._ctrlName,'MeetingRoom','approve_department','doing')" 
                  type="text"
                  ng-model="ctrlChild._assess_registration_value.service_proposal_text" class="form-control"
                  name="service_proposal_text" placeholder="{{'RecommendedService'|l}}"
                  ng-class="{ 'is-invalid': ApproveDepartmentRoomRegistrationForm.service_proposal_text.$invalid }" 
                  ng-required="ctrlChild._assess_registration_value.service_proposal"
                  style="height: 100px;"
                  ></textarea>
              </div>
            </div>
            <div class="col-12">
              <div class="form-group">
                <input-checkbox input-checkbox-label="{{'TechnicalSupport'|l}}"
                  input-checkbox-model="ctrlChild._assess_registration_value.helpdesk"
                  input-checkbox-disabled="true">
                </input-checkbox>
                <textarea 
                  ng-disabled="!ctrlChild._assess_registration_value.helpdesk || $root.statusValue.get(ctrlChild._ctrlName,'MeetingRoom','approve_department','doing')"
                  type="text"
                  ng-model="ctrlChild._assess_registration_value.helpdesk_text" class="form-control" name="helpdesk_text"
                  placeholder="{{'TechnicalSupport'|l}}"
                  ng-class="{ 'is-invalid': ApproveDepartmentRoomRegistrationForm.helpdesk_text.$invalid }" 
                  ng-required="ctrlChild._assess_registration_value.helpdesk"
                  style="height: 100px;"
                  ></textarea>
              </div>
            </div>
            <div class="col-12">
              <div class="form-group">
                <input-checkbox input-checkbox-label="{{'TeaBreak'|l}}"
                  input-checkbox-model="ctrlChild._assess_registration_value.teabreak"
                  input-checkbox-disabled="true">
                </input-checkbox>
                <textarea 
                  ng-disabled="!ctrlChild._assess_registration_value.teabreak || $root.statusValue.get(ctrlChild._ctrlName,'MeetingRoom','approve_department','doing')"
                  type="text"
                  ng-model="ctrlChild._assess_registration_value.teabreak_text" class="form-control" name="teabreak_text"
                  placeholder="{{'TeaBreak'|l}}"
                  ng-class="{ 'is-invalid': ApproveDepartmentRoomRegistrationForm.teabreak_text.$invalid }" 
                  ng-required="ctrlChild._assess_registration_value.teabreak"
                  style="height: 100px;"
                  ></textarea>
              </div>
            </div>
        
            <div class="col-md-6" style="border-right: 1px solid #eee">
              <div class="table-responsive">
                <table class="table table-sm">
                  <thead>
                    <tr>
                      <td>#</td>
                      <td>{{'Attachment'|l}}</td>
                      <td></td>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="item in ctrlChild._assess_registration_value.attachments">
                      <td>{{$index+1}}</td>
                      <td>
                        <attachment-just-show my-item="item"></attachment-just-show>
                      </td>
                      <td class="remove-file">
                        <!-- <i class="fas fa-times text-danger" ng-click="ctrlChild.removeFileAttachment_department_room(item)"></i> -->
                        <i class="fas fa-times "></i>
                      </td>
                    </tr>

                    <!-- <tr ng-repeat="item in ctrlChild._assess_registration_value.files">
                      <td>{{ctrlChild._assess_registration_value.attachments.length+$index+1}}</td>
                      <td>
                        <attachment-just-show my-item="item"></attachment-just-show>
                      </td>
                      <td class="remove-file">
                        <i class="fas fa-times text-danger" ng-click="ctrlChild.removeFileUpdate_department_room(item)"></i>
                      </td>
                    </tr> -->
                  </tbody>
                </table>
              </div>
            </div>
            <div class="col-md-6">
              <table class="diskuf-selector-table wd-fa-add-file-light-table">
                <tbody>
                  <tr>
                    <td class="diskuf-selector wd-fa-add-file-light-cell wd-fa-add-file-from-main" colspan=" 0">
                      <div class="diskuf-uploader">
                        <span class="wd-fa-add-file-light">
                          <span class="wd-fa-add-file-light-text">
                            <span class="wd-fa-add-file-light-title">
                              <span class="wd-fa-add-file-light-title-text">{{'UploadFile'|l}}</span>
                            </span>
                            <span class="wd-fa-add-file-light-descript">{{'DragTheFileHereToUpload'|l}}</span>
                          </span>
                        </span>
                        <input ng-disabled="true" class="diskuf-fileUploader wd-test-file-light-inp" type="file"
                          file-reading="ctrlChild._assess_registration_value.attachments" size="1" multiple
                          accept=".jpg,.jpeg,.png,.webp,.pdf" style="width: 100%" />
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>

            <div class="col-md-12">
              <div class="input-group-new">
                <div class="input-group-prepend-new">
                  <span>{{'AccessNote'|l}}</span>
                  <span class="require-sympton">*</span>
                </div>

                <div class="form-group mb-0">

                  <text-area-with-suggestions-2
                    ng-model="ctrlChild._assess_registration_value.note"
                    required="true"
                    placeholder="{{'You can note for accept'|l}}"
                    function-apply="ctrlChild.function_apply_suggestions_room"
                  />

                  <!-- <text-area-with-suggestions
                    ng-model="ctrlChild._assess_registration_value.note"
                    required="true"
                    placeholder="{{'You can note for accept'|l}}"
                  /> -->
                </div>
                <!-- <div>
                  <span 
                    class="badge badge-light m-1" 
                    style="cursor: pointer; font-size: 0.8rem; font-weight: 400;"
                    ng-repeat="hint in ctrlChild._hintNoteSet"
                    ng-click="ctrlChild.set_hint_note(hint)"
                  > 
                    {{hint|l}}
                  </span>
                </div> -->
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <modal-button-approval
          modal-button-approval-ctrlname="{{ctrlChild._ctrlName}}"
          modal-button-approval-objname="MeetingRoom"
          modal-button-approval-actionname="approve_department"
          modal-button-approval-invalid="ApproveDepartmentRoomRegistrationForm.$invalid || ctrlChild._assess_registration_value.date_start > ctrlChild._assess_registration_value.date_end || ctrlChild.isInvalidHost_update(ctrlChild._assess_registration_value.host_scope)" 
          modal-button-approval-func="ctrlChild.approve_department_room()"
          modal-button-confirm-text="{{'AreYouSureApproveThisRegistration'}}"
        />
        <modal-button-close></modal-button-close>
      </div>
    </div>
  </div>
</div>
