<div ng-controller="meeting_room_controller as ctrl">
    <div >

        <div class="form-group row align-items-center">
            <div class="date-filter" style="padding-bottom:0.5rem; max-width: none">
                <div class="date-filter-item col-md-2">
                    <div class="title-filter">{{'FromDate'|l}}</div>
                    <div class="value mt-2">
                        <div>
                            <input type="date" ng-model="ctrl._start_date_butler_filter"
                                ng-change="ctrl.refreshData_bulter()" />
                        </div>
                        <div>
                            <time-show2 time-show-data="ctrl._start_date_butler_filter" time-show-type="just_date"
                                bind-object="true"></time-show2>
                        </div>
                    </div>
                </div>
                <div class="date-filter-item col-md-2">
                    <div class="title-filter">{{'ToDate'|l}}</div>
                    <div class="value mt-2">
                        <div>
                            <input type="date" ng-model="ctrl._end_date_butler_filter"
                                ng-change="ctrl.refreshData_bulter()" />
                        </div>
                        <div>
                            <time-show2 time-show-data="ctrl._end_date_butler_filter"
                                time-show-type="just_date" bind-object="true">
                            </time-show2>
                        </div>
    
                    </div>
                </div>
            </div>
        </div>

        <my-Async async-ctrlname="{{ctrl._ctrlName}}" async-objname="MeetingRoom" async-actionname="loadButler">
            <async-success>
                <div class="table-responsive">
                    <table class="table table-striped table-hover" datatable>
                        <thead>
                            <tr>
                                <th style="font-weight: 600; vertical-align: middle; width: 3%; text-align: center;">
                                    #
                                </th>
                                <th style="font-weight: 600; vertical-align: middle;text-align: center;">
                                    {{'RoomCode'|l}}
                                    <order order-func="ctrl.refreshData_bulter()" order-model="ctrl.sort_bulter"
                                        order-name="room"></order>
                                </th>
                                <th style="font-weight: 600; vertical-align: middle;text-align: center;">
                                    {{'RoomName'|l}}
                                    <!-- <order order-func="ctrl.refreshData_bulter()" order-model="ctrl.sort_bulter"
                                        order-name="title"></order> -->
                                </th>
                                <th style="font-weight: 600; vertical-align: middle;text-align: center;">
                                    {{'Meetting room registration'|l}}
                                    <order order-func="ctrl.refreshData_bulter()" order-model="ctrl.sort_bulter"
                                        order-name="title"></order>
                                </th>
                                <th style="font-weight: 600; vertical-align: middle;text-align: center;">
                                    {{'Time'|l}}
                                    <order order-func="ctrl.refreshData_bulter()" order-model="ctrl.sort_bulter"
                                        order-name="date_start"></order>
                                </th>
                                <th style="font-weight: 600; vertical-align: middle;text-align: center;">
                                    {{'Request room'|l}}
                                    <!-- <order order-func="ctrl.refreshData_bulter()" order-model="ctrl.sort_bulter"
                                        order-name="title"></order> -->
                                </th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr ng-repeat="item in  ctrl.butlerList track by $index">
                                <td style="text-align: center;">
                                    <strong> {{ $index +1 }}</strong>
                                </td>
                                <td style="padding-left: 10px;text-align: center;">
                                    {{ item.room }}
                                </td>
                                <td style="padding-left: 10px;text-align: center;">
                                    <get-field-directory id-value="item.room" extend="ctrl.room_list_config" localization="true" />
                                </td>
                                <td style="padding-left: 10px;text-align: center;">
                                    {{ item.title }}
                                </td>
                                <td style="padding-left: 10px;text-align: center;">
                                    <time-show2 time-show-data="item.date_start" time-show-type="long"></time-show2>
                                </td>
                                <td style="padding-left: 10px;text-align: center;">
                                    <span ng-if="item.teabreak">
                                        {{item.teabreak_text}} <br>
                                    </span>
                                    <span ng-if="item.helpdesk">
                                        {{item.helpdesk_text}} <br>
                                    </span>
                                    <span ng-if="item.service_proposal">
                                        {{item.service_proposal_text}} <br>
                                    </span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div ng-if="ctrl.butlerList.length ==0" class="no-data">
                    {{'NoData'|l}}
                </div>

                <pagination
                    pagination-ctrlname="{{ctrl._ctrlName}}"
                    pagination-objname="MeetingRoom"
                    pagination-actionname="countButler"
                    pagination-currentpage="ctrl.currentPageButler"
                    pagination-noi="ctrl.numOfItemPerPageButler"
                    pagination-total="ctrl.totalItemsButler"
                    pagination-func="ctrl.load_butler(params)"
                >
                </pagination>
            </async-success>
        </my-Async>
    </div>
</div>
