
<div class="sidebar" id="menu">
    <nav class="sidebar-nav">
        <ul class="nav">
            <li class="nav-item nav-dropdown group-menu" ng-repeat="groupmenu in $root.Menu | orderBy:'ordernumber'">
                <a ng-click="$root.currentGroupMenu = groupmenu.key"
                    ng-class="{'active-menu':groupmenu.title[$root.Language.current] ===$root.breadcrumb[0]}"
                    class="nav-link nav-dropdown-toggle " ng-if="groupmenu.items.length>0" style="cursor: default">
                    <span ng-bind-html="groupmenu.icon"></span> {{groupmenu.title[$root.Language.current]}}
                </a>
                <ul class="nav-dropdown-items" ng-if="groupmenu.items.length>0">
                    <li class="nav-item child-menu" ng-repeat="menu in groupmenu.items| orderBy:'ordernumber'">
                        <a ng-if="menu.type=='component'" href="/{{menu.path}}" class="nav-link d-flex"
                            ng-click="$root.setBreadcrumb([groupmenu.title[$root.Language.current],menu.title[$root.Language.current]])"
                            ng-class="{'active-menu':$root.thisroute === menu.path}">
                            &nbsp;&nbsp;&nbsp;<span ng-bind-html="menu.icon"></span> {{menu.title[$root.Language.current]}}</a>
                        <a ng-if="menu.type=='url'" href="{{menu.url}}" target="_blank" class="nav-link"
                            ng-click="$root.setBreadcrumb([groupmenu.title[$root.Language.current],menu.title[$root.Language.current]])"
                            ng-class="{'active-menu':$root.thisroute === menu.path}">
                            &nbsp;&nbsp;&nbsp;<span ng-bind-html="menu.icon"></span> {{menu.title[$root.Language.current]}}</a>
                    </li>
                </ul>
            </li>

            <li class="nav-item nav-dropdown group-menu mt-auto">
                <a class="nav-link" href="/support" ng-class="{'active-menu':$root.thisroute === 'support'}">
                    <i class="fas fa-book"></i> 
                    {{'Instructions - Support'|l}}
                </a>
            </li>
        </ul>

    </nav>
</div>