<div class="modal fade" tabindex="-1" role="dialog" id="modal_DO_Update">
  <div class="modal-dialog modal-full" role="document">
    <div class="modal-content">
      <modal-header modal-header-title="{{'New'|l}}"></modal-header>
      <div class="modal-body">
        <form class="form-horizontal" name="updateForm">
          <div class="card">
            <div class="card-body row" style="border-left: 2px solid #20a8d8">
              <!--year -->
              <!-- <div class="col-md-6 form-group mt-2">
                <year-select
                    id-value="ctrl._update_value.year"
                    select-year-func="ctrl.chooseReleaseDate_update(params)"
                    label="{{'YearDocument' | l}}"
                    disable="$root.statusValue.get(ctrl._ctrlName, 'OD', 'update', 'doing')"
                    require="true">
                </year-select>
              </div>
              <div class="w-100"></div> -->

              <!-- code -->
              <div class="form-group col-md-6">
                <pick-modal-directory
                  extend="ctrl.OutgoingDispatchBook_Config"
                  pick-func="ctrl.pickCode_update(params)"
                  id-value="ctrl._update_value.code"
                  label="{{'Document number'|l}}"
                  disable="$root.statusValue.get(ctrl._ctrlName,'OD','update','doing')"
                  require="true"
                ></pick-modal-directory>
              </div>
              <!--symbol_number-->
             <div class="form-group col-md-6">
              <div class="input-group-new">
                <div class="input-group-prepend-new">
                  <span class="input-group-text-new">{{'Number symbol'|l}}</span>
                  <span class="require-sympton">*</span>
                </div>
                <input
                  ng-disabled="$root.statusValue.get(ctrl._ctrlName,'OD','update','doing')"
                  type="text"
                  ng-model="ctrl._update_value.symbol_number"
                  class="form-control"
                  name="insert_symbol_number"
                  placeholder="{{'Input number symbol'|l}}"
                  ng-class="{ 'is-invalid': updateForm.insert_symbol_number.$invalid }"
                  required
                />
              </div>
            </div>
              <!-- type -->
              <div class="form-group col-md-6">
                <pick-modal-directory extend="ctrl.DocumentType_Config"
                  pick-func="ctrl.pickType_update(params)" id-value="ctrl._update_value.type"
                  label="{{'TypeName'|l}}"
                  disable="$root.statusValue.get(ctrl._ctrlName,'OD','update','doing')"
                  require="true"></pick-modal-directory>
              </div>
               <!-- Đơn vị soạn -->
            <div class="form-group col-md-6">
              <organization  label="{{'submissionDepartment'|l}}"
                id-value="ctrl._update_value.departmemt_write" select-func="ctrl.pickDeparmentWrite_update(params)"
                require="true">
              </organization>
            </div>
            <!-- date_sign -->
            <div class="col-md-3 form-group">
              <date-old
                id-value="ctrl._update_value.date_sign"
                func="ctrl.pickDateSign_update(params)"
                label="{{'Signing date'|l}}"
                disabled="$root.statusValue.get(ctrl._ctrlName,'OD','update','doing')"
                require="true"
              ></date-old>
            </div>
            <!-- duration -->
            <div class="col-md-3 form-group">
              <date-old
                id-value="ctrl._update_value.expire_date"
                func="ctrl.pickExpireDate_update(params)"
                label="{{'Duration'|l}}"
                disabled="$root.statusValue.get(ctrl._ctrlName,'OD','update','doing')"
                require="true"
              ></date-old>
            </div>
            <!-- Person_sign -->
            <div class="col-md-6 choose-host">
              <div class="form-group ">
                <div class="input-group-new">
                  <div class="input-group-prepend-new">
                    <span class="input-group-text-new">{{'PersonSign'|l}}</span>
                    <span class="require-sympton">*</span>
                  </div>
                  <pick-user
                    pick-func="ctrl.pickPersonSign_update(params)"
                    id-value="ctrl._update_value.person_sign"
                    label="{{'PersonSign'|l}}"
                    require="true"
                  ></pick-user>
                </div>
              </div>
            </div>
            <!-- excerpt -->
            <div class="col-md-12">
              <div class="input-group-new">
                <div class="input-group-prepend-new">
                  <span class="input-group-text-new">{{'Excerpt'|l}}</span>
                  <span class="require-sympton">*</span>
                </div>
                <div class="form-group">
                  <textarea style="padding: 10px; width: 100%;" name="textarea" rows="3">{{ctrl._update_value.content}}</textarea>
                </div>
              </div>
            </div>
              
              <!-- priority = Nature-->
              <div class="form-group col-md-3">
                <pick-modal-directory
                  extend="ctrl.IncommingDispatchPririoty_Config"
                  pick-func="ctrl.pickUrgencyLevel_update(params)"
                  id-value="ctrl._update_value.urgency_level"
                  label="{{'urgency'|l}}"
                  disable="$root.statusValue.get(ctrl._ctrlName,'OD','update','doing')"
                  require="true"
                ></pick-modal-directory>
              </div> 
              <!--security_level -->
              <div class="form-group col-md-3">
                <pick-modal-directory extend="ctrl.securityLevel_Config"
                  pick-func="ctrl.pickSecurityLevel_update(params)" id-value="ctrl._update_value.security_level"
                  label="{{'ConfidentialityLevel'|l}}"
                  disable="$root.statusValue.get(ctrl._ctrlName,'OD','update','doing')"
                  require="true"></pick-modal-directory>
              </div>
              <!-- Workflow -->
              <!-- <div class="form-group col-md-6">
                <div class="input-group-new">
                  <div class="input-group-prepend-new">
                    <span class="input-group-text-new">{{'Workflow'|l}}</span>
                  </div>
                  <input
                    type="text"
                    class="form-control"
                    name="insert_workflow"
                    placeholder="{{'DispatchOutgoing'|l}}"
                    ng-class="{ 'is-invalid': updateForm.insert_workflow.$invalid }"
                    style="font-weight: bold; background-color: #eee;"
                    disabled
                  />
                </div>
              </div> -->
              <!-- note -->
              <!-- <div class="form-group col-md-6">
                <div class="input-group-new">
                  <div class="input-group-prepend-new">
                    <span class="input-group-text-new">{{'Note'|l}}</span>
                  </div>
                  <input
                    ng-disabled="$root.statusValue.get(ctrl._ctrlName,'OD','update','doing')"
                    type="text" 
                    ng-model="ctrl._update_value.note" 
                    class="form-control"
                    name="insert_note" 
                    placeholder="{{'InputNote'|l}}"
                    ng-class="{ 'is-invalid': updateForm.insert_note.$invalid }" />
                </div>
              </div> -->
              <!-- Quantity -->
              <!-- <div class="form-group col-md-6">
                <div class="input-label">
                  {{'DocumentQuantity' | l}}
                </div>
                <input
                  type="number"
                  ng-model="ctrl._update_value.document_quantity"
                  class="form-control"
                  name="insert_quantity"
                  placeholder="{{'Input quantity'|l}}"
                  ng-class="{'is-invalid': updateForm.insert_quantity.$invalid}"
                  required
                  ng-disabled="$root.statusValue.get(ctrl._ctrlName,'OD','update','doing')"
                />
              </div> -->
              <!-- Typing -->
              <!-- <div class="form-group col-md-6">
                <div class="input-group-new">
                  <div class="input-group-prepend-new">
                    <span class="input-group-text-new">{{'SubmissionDepartment' | l}}</span>
                    <span class="require-sympton">*</span>
                  </div>
                  <input
                    name="insert_department"
                    type="text"
                    ng-model="ctrl._update_value.department"
                    class="form-control"
                    placeholder="{{'Input the submission department'|l}}"
                    ng-class="{'is-invalid': updateForm.insert_department.$invalid}"
                  />
                </div>
              </div> -->
              <!-- outgoing_file -->
              <div class="form-group col-md-12">
                <div class="input-label">
                  {{'OutgoingDocuments'|l}}&nbsp;&nbsp;&nbsp;&nbsp;
                  <span class="require-sympton">*</span>
                </div>
                <div class="row" style="border: 2px solid #f0f2f3; border-radius: 4px">
                  <div class="col-md-6">
                    <div ng-if="ctrl._update_value.outgoing_file.length ==0" class="no-data">
                      {{'NoAttachment' | l}}
                    </div>
                    <div class="table-responsive">
                      <table class="table table-sm">
                        <tbody>
                        <tr ng-repeat="item in ctrl._update_value.outgoing_file">
                          <td>{{$index + 1}}</td>
                          <td>
                            <attachment-just-show my-item="item"></attachment-just-show>
                          </td>
                          <td>
                            <i class="fas fa-times text-danger"
                              ng-click="ctrl.removeOutgoingDocuments_update(item)">
                            </i>
                          </td>
                        </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>

                  <div class="col-md-6">
                    <table class="diskuf-selector-table wd-fa-add-file-light-table">
                      <tbody>
                      <tr>
                        <td class="diskuf-selector wd-fa-add-file-light-cell wd-fa-add-file-from-main"
                            colspan=" 0">
                          <div class="diskuf-uploader">
                            <span class="wd-fa-add-file-light">
                              <span class="wd-fa-add-file-light-text">
                                <span class="wd-fa-add-file-light-title">
                                  <span class="wd-fa-add-file-light-title-text">{{'UploadFile' | l}}</span>
                                </span>
                                <span class="wd-fa-add-file-light-descript">{{'DragTheFileHereToUpload' | l}}</span>
                              </span>
                            </span>
                            <input 
                              class="diskuf-fileUploader wd-test-file-light-inp " 
                              type="file"
                              file-reading="ctrl._update_value.outgoing_file" 
                              size="1" 
                              multiple style="width:100%;"
                            />
                          </div>
                        </td>
                      </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <!-- Attachments -->
              <div class="form-group col-md-12">
                <div class="input-label">{{'AttachDocuments'|l}}</div>
                <div class="row" style="border: 2px solid #f0f2f3; border-radius: 4px">
                  <div class="col-md-6">
                    <div ng-if="ctrl._update_value.attachments.length ==0" class="no-data">
                      {{'NoAttachment' | l}}
                    </div>
                    <div class="table-responsive">
                      <table class="table table-sm">

                        <tbody>
                        <tr ng-repeat="item in ctrl._update_value.attachments">
                          <td>{{$index + 1}}</td>
                          <td>
                            <attachment-just-show my-item="item"></attachment-just-show>
                          </td>
                          <td>
                            <i class="fas fa-times text-danger"
                              ng-click="ctrl.removeAttachDocuments_update(item)">
                            </i>
                          </td>
                        </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>

                  <div class="col-md-6">
                    <table class="diskuf-selector-table wd-fa-add-file-light-table">
                      <tbody>
                      <tr>
                        <td class="diskuf-selector wd-fa-add-file-light-cell wd-fa-add-file-from-main"
                            colspan=" 0">
                          <div class="diskuf-uploader">
                            <span class="wd-fa-add-file-light">
                              <span class="wd-fa-add-file-light-text">
                                <span class="wd-fa-add-file-light-title">
                                  <span class="wd-fa-add-file-light-title-text">{{'UploadFile' | l}}</span>
                                </span>
                                <span class="wd-fa-add-file-light-descript">{{'DragTheFileHereToUpload' | l}}</span>
                              </span>
                            </span>
                            <input class="diskuf-fileUploader wd-test-file-light-inp " type="file"
                              file-reading="ctrl._update_value.attachments" size="1" multiple style="width:100%;">
                          </div>
                        </td>
                      </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <!-- Receive department -->
              <div class="form-group col-md-12 mt-3">
                <div class="input-group-new"> 
                  <div class="input-group-prepend-new">
                  <span class="input-group-text-new">{{'ReceivingDocumentDepartment'|l}}</span>
                  <span class="require-sympton">*</span>
                </div>
              </div>
                <organization-multi
                  label="{{'ReceivingDocumentDepartment'|l}}"
                  id-value="ctrl._update_value.other_destination"
                  select-func="ctrl.pickOtherDestination_update(params)">
                </organization-multi>
              </div>
              <!--document_tag-->
             <!-- <div class="form-group col-md-6 mt-1">
              <div class="input-group-new">
                <div class="input-group-prepend-new">
                  <span class="input-group-text-new">{{'DocumentTag'|l}}</span>
                  <span class="require-sympton">*</span>
                </div>
                <input
                  ng-disabled="$root.statusValue.get(ctrl._ctrlName,'OD','update','doing')"
                  type="text"
                  ng-model="ctrl._update_value.text_tags"
                  class="form-control"
                  name="insert_document_tag"
                  placeholder="{{'DocumentTag'|l}}"
                  ng-class="{ 'is-invalid': updateForm.insert_document_tag.$invalid }"
                  required
                />
              </div>
            </div> -->
            <!-- self end -->
            <!-- <div class="form-group col-md-12">
              <input-checkbox
                input-checkbox-label="{{'SelfEnd'|l}}"
                input-checkbox-model="ctrl._update_value.self_end"
                input-checkbox-disabled="$root.statusValue.get(ctrl._ctrlName,'OD','update','doing')"
              >
              </input-checkbox>
            </div> -->

            <!-- new tag -->
            <!-- <div class="form-group col-md-12">
              <tag-input 
                  tags="tagList" 
                  placeholder="Enter tags..."
                  on-tag-add="ctrl.onTagAdded(tag)" 
                  on-tag-remove="ctrl.onTagRemoved(tag)">
              </tag-input>
            </div> -->
            
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <modal-button-save
          modal-button-save-ctrlname="{{ctrl._ctrlName}}"
          modal-button-save-objname="OD"
          modal-button-save-actionname="update"
          modal-button-save-invalid="updateForm.$invalid || ctrl._update_value.outgoing_file.length===0"
          modal-button-save-func="ctrl.update()"
        >
        </modal-button-save>
        <modal-button-close></modal-button-close>
      </div>
    </div>
  </div>
</div>

