<div 
    class="main-content p-2"
    ng-style="{'background-color': itemBackground}"
    style="border-radius: 5px;"
>
    
        <div class="content-item" style="color: #fff;">

            <div style="font-size: 13px; text-align: left; display: -webkit-box; 
                -webkit-line-clamp: 2; 
                -webkit-box-orient: vertical; 
                overflow: hidden; 
                text-overflow: ellipsis; 
                white-space: normal;">
                <span><i class="fas fa-clock" style="font-size: 12px;"></i></span>  
                <span style="margin: 0; padding: 0; font-weight: 600; 
                    font-size: 12px; text-align: left;">
                    <time-show time-show-data="e.time_to_go" time-show-type="justtime" /> 
                    <span ng-if="e.pick_up_time && e.pick_up_time !== 'null'">
                        - <time-show time-show-data="e.pick_up_time" time-show-type="justtime" />
                    </span>
                    <span>-</span>
                    {{ e.title }}
                </span>
            </div>

            <div ng-if="e.car != null" style="margin-top: 2px;">
                <label class="input-group-text-new"><strong> {{'Car'|l}} </strong></label>
                <span>
                    <get-field-directory
                        id-value="e.car"
                        extend="ctrl.vehicle_list_config"
                        localization="true"
                    />
                </span>
            </div>
            <div ng-if="e.car == null" style="margin-top: 2px;">
                <label class="input-group-text-new"><strong> {{'Card'|l}} </strong></label>
                <span> <get-field-directory
                    id-value="e.card"
                    extend="ctrl.card_list_config"
                    localization="true"
                /> </span>
            </div>
        </div>
        <div class="popup-detail" ng-if="e.car != null">
            <div style="word-wrap: break-word; overflow-wrap: break-word; margin-bottom: 5px; padding:10px 10px 10px 10px; border-radius: 6px 6px 0 0;"
                ng-style="{'background-color': itemBackgroundHover}">
                <!-- <label class="input-group-text-new"><strong>{{'Title'|l}}:</strong></label> -->
                <span style="white-space: normal; font-weight: 600;">
                    {{ e.title }}
                </span>
            </div>

            <div style="word-wrap: break-word; overflow-wrap: break-word; margin-bottom: 5px; padding: 0px 10px">
                <label class="input-group-text-new"><strong>{{'Content'|l}}:</strong></label>
                <span>{{ e.content }}</span>
            </div>

            <div style="word-wrap: break-word; overflow-wrap: break-word; margin-bottom: 5px; padding: 0px 10px">
                <label class="input-group-text-new m-0"><strong>{{'Passenger'|l}}:</strong></label>
                <show-many-user-onlyname usernames="e.passenger" />
            </div>

        <div style="word-wrap: break-word; overflow-wrap: break-word; margin-bottom: 5px; padding: 0px 10px">
                <label class="input-group-text-new m-0"><strong>{{'contactperson'|l}}:</strong></label>
                <span ng-repeat="p in e.passengers_details">
                    {{p.fullname}} - {{p.phonenumber}}
                </span>
            </div>

            <div style="word-wrap: break-word; overflow-wrap: break-word; margin-bottom: 5px; padding: 0px 10px">
                <label class="input-group-text-new"><strong>{{'Time to go'|l}}:</strong></label>
                <span>
                    <time-show time-show-data="e.time_to_go" time-show-type="justtime" />
                </span>
            </div>

            <div style="word-wrap: break-word; overflow-wrap: break-word; margin-bottom: 5px; padding: 0px 10px">
                <label class="input-group-text-new">
                    <strong>{{'Pick up time'|l}}:</strong>
                </label>
                <span>
                    <time-show time-show-data="e.pick_up_time" time-show-type="justtime" />
                </span>
            </div>

            <div style="word-wrap: break-word; overflow-wrap: break-word; margin-bottom: 5px; padding: 0px 10px">
                <label class="input-group-text-new"><strong>{{'Starting place'|l}}:</strong></label>
                <span>
                    {{ e.starting_place }}
                </span>
            </div>

            <div style="word-wrap: break-word; overflow-wrap: break-word; margin-bottom: 5px; padding: 0px 10px">
                <label class="input-group-text-new"><strong>{{'Destination'|l}}:</strong></label>
                <span>
                    {{ e.destination }}
                </span>
            </div>

            <div style="word-wrap: break-word; overflow-wrap: break-word; margin-bottom: 5px; padding: 0px 10px">
                <label class="input-group-text-new"><strong>{{'Driver'|l}}:</strong></label>
                <span>
                    {{e.driver_detail.fullname}}
                </span>
            </div>

            <div style="word-wrap: break-word; overflow-wrap: break-word; margin-bottom: 10px; padding: 0px 10px">
                <label class="input-group-text-new"><strong>{{'PhoneNumber'|l}}:</strong></label>
                <span>
                    {{e.driver_detail.phonenumber}}
                </span>
            </div>
        </div>

        <div class="popup-detail" ng-if="e.card != null">
            <div style="word-wrap: break-word; overflow-wrap: break-word; margin-bottom: 5px; padding:10px 10px 10px 10px;"
                ng-style="{'background-color': itemBackgroundHover}">
                <!-- <label class="input-group-text-new"><strong>{{'Title'|l}}:</strong></label> -->
                <span style="white-space: normal; font-weight: 600;">
                    {{ e.title }}
                </span>
            </div>

            <div style="word-wrap: break-word; overflow-wrap: break-word; margin-bottom: 5px; padding: 0px 10px">
                <label class="input-group-text-new"><strong>{{'Content'|l}}:</strong></label>
                <span>{{ e.content }}</span>
            </div>

            <div style="word-wrap: break-word; overflow-wrap: break-word; margin-bottom: 5px; padding: 0px 10px">
                <label class="input-group-text-new m-0"><strong>{{'Passenger'|l}}:</strong></label>
                <show-many-user-onlyname usernames="e.passenger" />
            </div>

            <div style="word-wrap: break-word; overflow-wrap: break-word; margin-bottom: 5px; padding: 0px 10px">
                <label class="input-group-text-new"><strong>{{'Time to go'|l}}:</strong></label>
                <span>
                    <time-show time-show-data="e.time_to_go" time-show-type="justtime" />
                </span>
            </div>

            <div style="word-wrap: break-word; overflow-wrap: break-word; margin-bottom: 5px; padding: 0px 10px" ng-if="e.pick_up_time">
                <label class="input-group-text-new"><strong>{{'Pick up time'|l}}:</strong></label>
                <span>
                    <time-show time-show-data="e.pick_up_time" time-show-type="justtime" />
                </span>
            </div>

            <div style="word-wrap: break-word; overflow-wrap: break-word; margin-bottom: 5px; padding: 0px 10px">
                <label class="input-group-text-new"><strong>{{'Starting place'|l}}:</strong></label>
                <span>
                    {{ e.starting_place }}
                </span>
            </div>

            <div style="word-wrap: break-word; overflow-wrap: break-word; margin-bottom: 10px; padding: 0px 10px">
                <label class="input-group-text-new"><strong>{{'Destination'|l}}:</strong></label>
                <span>
                    {{ e.destination }}
                </span>
            </div>
        </div>
    
</div>