<div class="modal fade" tabindex="-1" role="dialog" id="modal_Head_Task_Update_In_Department_Dashboard_2">
    <div class="modal-dialog modal-full" role="document">
        <div class="modal-content">
            <modal-header modal-header-title="{{'Update'|l}}"></modal-header>
            <div class="modal-body">
                <form class="form-horizontal" name="updateTaskForm">
                    <div class="row part">
                        <div class="form-group col-md-12">
                            <div class="input-prepend input-group">
                                <div class="input-group-prepend"><span class="input-group-text">{{'Title'|l}}</span><span class="require-sympton">*</span>
                                </div>
                                <input
                                    ng-disabled="$root.statusValue.get(ctrl._ctrlName,'Task','update','doing')"
                                    type="text" ng-model="ctrl._update_value.title"
                                    class="form-control"
                                    name="insert_task_title" placeholder="{{'InputTitle'|l}}"
                                    ng-class="{ 'is-invalid': updateTaskForm.insert_task_title.$invalid }" required />
                            </div>
                        </div>
                        <div class="col-md-4 form-group">
                            <date
                                id-value="ctrl._update_value.from_date"
                                func="ctrl.chooseFromDate_update(params)"
                                label="{{'FromDate'|l}}"
                                disabled="$root.statusValue.get(ctrl._ctrlName,'Task','update','doing')"
                                require="true"
                            />
                            <div class="errorMsg" ng-show="ctrl.fromDate_update_ErrorMsg">{{ ctrl.fromDate_update_ErrorMsg }}</div>
                        </div>
                        <div class="col-md-4 form-group">
                            <date
                                id-value="ctrl._update_value.to_date"
                                func="ctrl.chooseToDate_update(params)"
                                label="{{'ToDate'|l}}"
                                disabled="$root.statusValue.get(ctrl._ctrlName,'Task','update','doing')"
                                require="true"
                            />
                            <div class="errorMsg" ng-show="ctrl.toDate_update_ErrorMsg">{{ ctrl.toDate_ErrorMsg }}</div>
                        </div>
    
                        <div class="d-flex align-items-center col-md-4 pr-0">
                            <div class="input-group w-100" style="width: auto; align-items: center">
                                <label class="input-group-text ng-binding" style="border-top-right-radius: 0;border-bottom-right-radius: 0;padding-top: 4.7px;padding-bottom: 4.7px;" for="estimate">
                                    {{'RequestCompletedWithin'|l}}
                                </label>
                                <input type="number" id="estimate" ng-model="ctrl._update_value.estimate"
                                    class="form-control" style="height: 32px" min="1" step="1" required 
                                    onkeypress="return (event.charCode >= 48 && event.charCode <= 57)" />
                                <span class="input-group-text ng-binding" style="padding-bottom: 4.7px;padding-top: 4.7px;border-top-left-radius: 0;border-bottom-left-radius: 0;">
                                    {{'hours'|l}}
                                </span>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <organization
                                    label="{{'Department'|l}}"
                                    id-value="ctrl._update_value.department"
                                    select-func="ctrl.chooseDepartment_update(params)"
                                    require="true"
                                    disabled="$root.statusValue.get(ctrl._ctrlName,'Task','update','doing')"
                                />
                                
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <select-multi-users-by-rule
                                    label="{{'Observer'|l}}"
                                    require="true"
                                    pick-func="ctrl.pickObserver_update(params)"
                                    id-value="ctrl._update_value.observer"
                                    rule="Office.Task.observerExternal"
                                />
                                
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <pick-modal-directory
                                    extend="ctrl.TaskPriority"
                                    pick-func="ctrl.chooseTaskPriority_update(params)"
                                    id-value="ctrl._update_value.priority"
                                    label="{{'Priority'|l}}"
                                />
                            </div>
                        </div>
                        <div class="form-group col-md-12">
                            <pick-modal-advance-multi
                                label="{{'Label'|l}}"
                                disable="$root.statusValue.get(ctrl._ctrlName,'Task','update','doing')"
                                load-data-func="ctrl.loadLabel(params)" id-value="ctrl._update_value.label"
                                load-details-func="ctrl.loadLabel_details(params)" localized="false"
                                pick-func="ctrl.pickLabel_update(params)" enable-insert-new-item="true"
                                insert-item-func="ctrl.insertLabel(params)"
                            />
                        </div>
                    </div>

                    <div class="row part">
                        <div class="col-md-12">
                            <div class="form-group">
                                <textarea id="{{ctrl._idEditor_update}}" class="form-control"></textarea>
                            </div>
                        </div>
                    </div>
                    
                    <div class="row part">
                        <div class="col-md-6">
                            <div ng-if="ctrl._update_value.attachment.length == 0" class="no-data">{{'NoAttachment'|l}}</div>
                            <div class="table-responsive">
                                <table class="table table-sm">
                                    <tbody>
                                        <tr ng-repeat="item in ctrl._update_value.attachment">
                                            <td>{{$index+1}}</td>
                                            <td>
                                                <attachment-just-show my-item="item" />
                                            </td>
                                            <td>
                                                <i style="cursor: pointer;" class="fas fa-times text-danger" ng-click="ctrl.removeFile_update(item)"></i>
                                            </td>
                                        </tr>

                                        <tr ng-repeat="item in ctrl._update_value.new_files">
                                            <td>{{$index+1}}</td>
                                            <td>
                                                <attachment-just-show my-item="item" />
                                            </td>
                                            <td>
                                                <i style="cursor: pointer;" class="fas fa-times text-danger" ng-click="ctrl.removeNewFile_update(item)"></i>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <table class="diskuf-selector-table wd-fa-add-file-light-table">
                                <tbody>
                                    <tr>
                                        <td class="diskuf-selector wd-fa-add-file-light-cell wd-fa-add-file-from-main"
                                            colspan="0">
                                            <div class="diskuf-uploader">
                                                <span class="wd-fa-add-file-light">
                                                    <span class="wd-fa-add-file-light-text">
                                                        <span class="wd-fa-add-file-light-title">
                                                            <span class="wd-fa-add-file-light-title-text">{{'Attachment'|l}}</span>
                                                        </span>
                                                        <span
                                                            class="wd-fa-add-file-light-descript">{{'DragTheFileHereToUpload'|l}}</span>
                                                    </span>
                                                </span>
                                                <input class="diskuf-fileUploader wd-test-file-light-inp" type="file"
                                                    file-reading="ctrl._update_value.new_files" size="1" multiple
                                                    style="width:100%;">
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <modal-button-save
                    modal-Button-save-label="{{'Update'|l}}"
                    modal-button-save-ctrlname="{{ctrl._ctrlName}}"
                    modal-button-save-objname="Task"
                    modal-button-save-actionname="update"
                    modal-button-save-invalid="updateTaskForm.$invalid || ctrl.fromDate_update_ErrorMsg"
                    modal-button-save-func="ctrl.update()"
                />
                <modal-button-close></modal-button-close>
            </div>
        </div>
    </div>
</div>
